<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find example_gazebo)/world/example_world.world"/>
    <arg name="verbose" value="true"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="exmaple_model" default="$(find example_gazebo)/model/example_model.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg exmaple_model)"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find example_gazebo)/model/example_model.urdf -urdf -x 0 -y 0 -z 0 -model example_model"/>

  <!-- Joint Controller -->
  <include file="$(find example_gazebo)/launch/example_controller.launch" />

</launch>
